{% extends 'base.html' %}

{% block title %}
Tour {{ tour.id }}
{% endblock %}

{% block content %}
<header>
    <div class="header">
        <a href="/" class="main-header url">Головна</a>
        <a href="/tour" class="tour-header url">Путівки</a>
        <a href="/registration" class="registration url">Реєстрація</a>
        <a href="/authorization" class="authorization url">Авторизація</a>
    </div>
</header>
<main>
    {% if choosen_tour %}
    <div>
        
        {% for tour in tour %}
        
            <h2>{{ tour.title }}</h2>
            <p>Date: {{ tour.date }}</p>
            <p>Country: {{ tour.country }}</p>
            <p>Price: {{ tour.price }}</p>
            <p>Description: {{ tour.descriprion }}</p>
        
            {% endfor %}
    
    </div>
    {% endif %}

</main>

{% endblock %}
<style>
    body{
        font-family: 'Montserrat Regular';
    }
    .header{
        display: flex;
        height: 60px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .url{
        display: flex;
        text-decoration: none;
        color: black;
        margin-left: 60px;
        margin-top: 20px;
        font-family: 'Montserrat Regular';
    }
</style>