<header>
    <div class="header">
        <a href="/" class="main-header url">Головна</a>
        <a href="/tour" class="tour-header url">Путівки</a>
        <a href="/registration" class="registration url">Реєстрація</a>
        <a href="/authorization" class="authorization url">Авторизація</a>
    </div>
</header>

<style>
    body{
        font-family: 'Montserrat Regular';
    }
    .header{
        display: flex;
        height: 60px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .url{
        display: flex;
        text-decoration: none;
        color: black;
        margin-left: 60px;
        margin-top: 20px;
        font-family: 'Montserrat Regular';
    }
</style>